/* variables */
:root {
    --white-color: #ffffff;
    --black-color: #272727;
    --dark-gray-color: #2c353d;
    --gray-color: #4c6066;
    --light-gray-color: #dee2e3;
    --blue-color: #0a0e33;
    --light-blue-color: #c6d7e1;
    --red-color: #a04c44;
    --brown-color: #ba9c8b;
    --silver-color: #d7d9d8;
}

/* general */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
    color: var(--black-color);
    font-family: "Montserrat", "Arial", sans-serif;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* header */
.header {
    width: 100%;
    padding: 1.5rem 0;
    position: absolute;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header {
    margin: 0;
    font-weight: 500;
}

.main-header a {
    color: var(--white-color);
    text-decoration: none;
}

.hamburger-wrapper {
    color: var(--white-color);
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.hamburger-btn {
    padding: 10px;
    background: transparent;
    border: 0;
    margin: 0 0 0 0.2rem;
    display: inline-block;
    cursor: pointer;
    z-index: 3;
}

.hamburger-btn, .navigation {
    -webkit-transition: -webkit-transform .3s .1s ease-in-out;
    transition: -webkit-transform .3s .1s ease-in-out;
    -o-transition: transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    width: 100%;
    height: 3px;
    background: var(--white-color);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    -webkit-transition: background 0.3s 0.2s ease-in-out;
    -o-transition: background 0.3s 0.2s ease-in-out;
    transition: background 0.3s 0.2s ease-in-out;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    width: 100%;
    height: 3px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    top: 10px;
}

.hamburger-active .hamburger-inner {
    background: transparent;
}

.hamburger-active .hamburger-inner::before {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
    background: var(--black-color);
}

.hamburger-active .hamburger-inner::after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    background: var(--black-color);
}

.navigation {
    height: 100vh;
    width: 100%;
    background: var(--white-color);
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
}

.navigation-list {
    width: 80%;
    margin-top: 70px;
    list-style: none;
    padding: 0;
}

.navigation-item {
    text-align: center;
    padding: 1rem;
    position: relative;
    transition: background 0.4s;
}

.navigation-item:hover {
    background: var(--silver-color);
}

.navigation-item::after {
    content: "";
    width: 100%;
    border-bottom: 0.5px solid var(--silver-color);
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navigation-list a {
    width: 100%;
    text-decoration: none;
    color: var(--black-color);
}

.navigation-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* hero */
.hero {
    padding: 8rem 0;
    background: var(--black-color) url("../img/woman.jpg") no-repeat center/cover;
}

.hero-wrapper {
    color: var(--white-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-header {
    font-size: 2rem;
    text-transform: uppercase;
}

.hero-paragraph {
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

.hero-paragraph span {
    color: var(--silver-color);
}

.hero-btn {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border: 1.5px solid var(--silver-color);
    border-radius: 5px;
    transition: background 0.6s;
}

.hero-btn:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* about-us */
.about-us {
    padding: 6rem 0 1rem;
}

.about-us-wrapper {
    padding: 3rem 1rem;
    border: 1.5px solid var(--silver-color);
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    width: 80px;
    height: 80px;
    background: var(--white-color);
    border: 1.5px solid var(--silver-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    margin-top: -40px;
    left: 50%;
    margin-left: -40px;
}

.second-header {
    margin-bottom: 2rem;
    position: relative;
}

.second-header::after {
    content: "";
    width: 90%;
    height: 1.5px;
    background: var(--silver-color);
    opacity: 0.7;
    position: absolute;
    bottom: -10px;
    left: 5%;
}

.about-us p {
    font-size: 0.8rem;
}

/* iphone icon */
.iphone {
    width: 25px;
    height: 40px;
    background: var(--gray-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iphone-screen {
    width: 20px;
    height: 26px;
    color: var(--gray-color);
    background: var(--white-color);
    border-radius: 2px;
    margin-bottom: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iphone-btn {
    width: 5px;
    height: 5px;
    background: var(--white-color);
    border-radius: 50%;
}

/* reviews */
.reviews {
    padding: 2rem 0;
}

.hide-header {
    text-align: center;
    font-size: 1px;
    color: transparent;
}

.reviews-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.review:nth-of-type(2) {
    flex-direction: column-reverse;
}

.review-photo {
    min-width: 300px;
    height: 300px;
    margin: 2rem 0 2.5rem 0;
}

.review-photo:nth-of-type(2) {
    margin: 2rem 0 2.5rem 0;
}

.review-photo img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.speech-bubble {
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 15px;
    text-align: center;
    position: relative;
}

.speech-bubble::before {
	content: '';
    width: 0;
	height: 0;
	border: 27px solid transparent;
    border-bottom: 0;
    position: absolute;
	top: 50%;
	margin-top: -13.5px;
    display: none;
}

.speech-bubble-left-tail::before {
    left: 0;
    border-right-color: var(--silver-color);
    border-left: 0;
    margin-left: -27px;
}

.speech-bubble-right-tail::before {
    right: 0;
    border-left-color: var(--silver-color);
    border-right: 0;
    margin-right: -27px;
}


/* gallery */
.gallery {
    padding: 2rem 0;
    background: var(--light-gray-color);
}

.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery-photo {
    width: 30%;
    min-width: 300px;
    height: 300px;
    margin: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.gallery-photo img {
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.gallery-photo img:hover {
    transform: scale(1.2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 1.5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.65);
}

.modal-content {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 5s;
}

.modal-content img {
    width: 100%;
    height: 100%;
    border: 2.5px solid var(--silver-color);
    border-radius: 5px;
}

.modal-content img:hover {
    transform: none;
}

.show-modal {
    display: block;
}

/* form */
.form {
    padding: 2rem 0;
    background: var(--silver-color);
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-left-wrapper {
    width: 30%;
}

.form-left-wrapper img {
    width: 100%;
}

.form-right-wrapper {
    width: 70%;
    padding: 0 4rem;
}

.input-box {
    position: relative;
}

.form-input {
    width: 100%;
    margin: 0.4rem 0 0.8rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--white-color);
    border-radius: 5px;
}

.tooltip {
    padding: 0.5rem;
    background: var(--white-color);
    color: #101B31;
    border-radius: 5px;
    position: absolute;
    top: -45px;
    right: 0;
    display: none;
}

.tooltip::after {
    content: '';
    width: 0;
    border-style: solid;
    border-width: 15px 10px 0;
    border-color: var(--white-color) transparent;
    display: block;
    position: absolute;
    bottom: -14px;
    right: 10px;
    z-index: 1;
}

.show-tooltip {
    display: block;
}

/* iphone icon - form */
.iphone-form {
    width: 18px;
    height: 30px;
    border-radius: 3.5px;
    position: absolute;
    top: 0;
    margin-top: 0.65rem;
    right: 0;
    margin-right: 0.5rem;
    cursor: default;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.iphone-form:hover {
    opacity: 1;
}

.iphone-screen-form {
    width: 14px;
    height: 17px;
    margin-bottom: 2px;
}

.iphone-btn-form {
    width: 3px;
    height: 3px;
}

/* media queries*/
@media only screen and (min-width: 990px) {
    /* hero */
    .hero {
        padding: 10rem 0;
    }

    /* about-us */
    .about-us p {
        font-size: 1rem;
    }

    /* reviews */
    .reviews {
        padding: 6rem 0;
    }

    .review {
        width: 100%;
        font-size: 1rem;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .review:nth-of-type(2)  {
        flex-direction: row;
        justify-content: space-between;
    }

    .review-photo {
        margin: 0 3rem 0 0;
    }

    .review-photo:nth-of-type(2) {
        margin: 0 0 0 3rem;
    }

    .speech-bubble {
        width: 70%;
        padding: 2rem 3rem;
        border: 1.5px solid var(--silver-color);
    }

    .speech-bubble::before {
        display: block;
    }

    /* gallery */
    .gallery {
        padding: 6rem 0;
    }

    .modal-content {
        width: 600px;
        height: 500px;
    }

    /* form */
    .form {
        padding: 6rem 0 4rem;
    }
}
